{% load static %}

<c-dialog>
    <c-alert-dialog.trigger id="js-create-category-trigger" class="hidden"></c-alert-dialog.trigger>

    <c-dialog.content class="sm:max-w-[425px] !bg-transparent">
        <h1 class="text-2xl"><b>New</b> category.</h1>

        <form action="{% url 'HelpMe_app:create_category' %}" method="POST" class="flex flex-col gap-6">
            {% csrf_token %}
            <h2 class="text-sm opacity-60"><b>Add a new topic area for users to post in.</b></h2>

            <div class="flex flex-col gap-2">
                <label for="id_cat_name" class="text-sm font-bold opacity-70">Category Name:</label>
                <c-input type="text"
                         id="id_cat_name"
                         name="name"
                         placeholder="e.g. Life Advice"
                         required></c-input>
            </div>

            <div class="flex justify-end mt-2">
                <c-button variant="outline" type="submit" class="w-full sm:w-auto save-btn">
                    <i data-lucide="folder-plus"></i> Create Category
                </c-button>
            </div>
        </form>
    </c-dialog.content>
</c-dialog>