{% load static %}
<div>
    {% block overlays_block %}
        {% include 'partials/_overlay_dialogs.html' with question=question %}
    {% endblock %}
    <c-card class="glass-panel relative group flex flex-col border rounded-[24px] p-6 shadow-sm hover:shadow-md transition-all duration-200">
        <a href="{% url 'HelpMe_app:post_overview' question.question_id %}"
           class="absolute inset-0 z-0 pointer-events-auto">
            <span class="sr-only">View {{ question.title }}</span>
        </a>

        <div class="flex-1 z-10 pointer-events-none">
            <h3 class="text-lg font-bold">
                {{ question.title }}
            </h3>
            <p class="text-sm opacity-70 line-clamp-3">
                {{ question.description }}
            </p>
        </div>

        {% if not hide_footer %}
            <div class="flex items-center justify-between pt-4 relative z-20">

                <div class="flex items-center gap-2 pointer-events-none">
                    <img src="
                            {% if 'default.png' in question.username.picture.url %}{% static 'images/profilepic_default_temp.png' %}{% else %}{{ question.username.picture.url }}{% endif %}"
                         class="w-6 h-6 rounded-full object-cover border" alt="...">
                    <span class="opacity-60 font-semibold text-sm">
                        {% if question.username.type == 'LIMITED' %}
                            Post shared anonymously
                        {% elif question.username == user %}
                            Created by me
                        {% else %}
                            Created by: {{ question.username.username }}
                        {% endif %}
                    </span>
                </div>

                <div class="flex items-center gap-2 pointer-events-none">
                    {% include 'partials/_control_strip.html' with question=question is_card=True %}
                </div>
            </div>
        {% endif %}
    </c-card>
</div>
