{% extends "base.html" %}
{% load static %}

{% block title_block %}{{ text_to_user }}{% endblock %}
{% block header_block %}{% endblock %}

{% block content_block %}
    <section id="signing-in" next-url="{{ redirect_url }}"
             class="fixed inset-0 flex items-center justify-center">
        <div class="flex flex-col items-center space-y-8 text-center">
            <div class="relative w-24 h-24 rounded-full border overflow-hidden opacity-90">
                <img src="{{ user.picture.url }}"
                     alt="{{ user.username }}"
                     class="w-full h-full object-cover">
            </div>

            <div class="space-y-8">
                <div class="text-4xl font-bold opacity-80">
                    {{ text_to_user }}
                </div>
                <div class="dual-circle-spinner"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_block %}{% endblock %}
{% block footer_scripts %}
    <script defer src="{% static 'js/authentication/redirect_after_auth.js' %}"></script>
{% endblock %}