{% extends "base.html" %}
{% load static %}

{% block title_block %}Login{% endblock %}

{% block content_block %}
    <section class="max-w-6xl mx-auto min-h-[70vh] flex items-center justify-center md:justify-between gap-12 px-4 relative z-10">
        <div class="w-full max-w-[400px]">
            <h1 class="text-3xl mb-6">Hey, let's <b>login</b>.</h1>
            <div class="glass-panel p-8 rounded-[32px]">
                <form class='space-y-4' method="post">
                    {% csrf_token %}
                    <c-form.field>
                        <c-form.label for='id_username'>Username or email</c-form.label>
                        <c-input id='id_username' name='username' type='text' placeholder='alistairmorrison or alistair@groupb.com' value="{{ form.username.value|default:'' }}"/>
                        {% if form.username.errors %}
                            <p class="text-xs mt-1 opacity-60">{{ form.username.errors.0 }}</p>
                        {% endif %}
                    </c-form.field>
                    <c-form.field>
                        <c-form.label for='id_password'>Password</c-form.label>
                        <c-input id='id_password' name='password' type='password' placeholder='Password'/>
                        {% if form.password.errors %}
                            <p class="text-xs mt-1 opacity-60">{{ form.password.errors.0 }}</p>
                        {% endif %}
                    </c-form.field>

                    {% if form.non_field_errors %}
                        <div class="p-3 mb-4 text-sm border rounded-lg opacity-80 bg-red-100">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="flex flex-col gap-4 pt-2">
                        <a href="#" class="font-semibold hover:underline opacity-80">Forgotten password?</a>
                        <div class="flex items-center gap-3">
                            <c-button type='submit' class="flex-1">
                                <i data-lucide="circle-arrow-right" class="w-4 h-4 mr-2"></i> Sign in
                            </c-button>

                            <c-button variant="outline" class="flex-1 relative overflow-hidden">
                                <i data-lucide="key-round" class="w-4 h-4 mr-2"></i> Register
                                <a href="{% url 'HelpMe_app:sign_up' %}" class="absolute inset-0 z-10"></a>
                            </c-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="hidden md:block max-w-[600px] w-full">
            <img src="{% static 'images/login_exp.png' %}" alt="Experience" class="w-full h-auto opacity-90">
        </div>
    </section>
{% endblock %}