{% extends "base.html" %}
{% load static %}

{% block title_block %}My account{% endblock %}

{% block content_block %}
    <section class="max-w-6xl mx-auto px-2">
        <div class="w-full max-w-[900px] mx-auto">
            <div class="flex items-end justify-between mb-8 gap-4">
                <h1 class="text-3xl">My <b>account</b></h1>
                <div class="flex items-center gap-3">
                    <c-popover side="bottom" align="end" sideOffset="12">
                        <c-popover.trigger>
                            <c-button variant="ghost" class="circle-btn-icononly">
                                <i data-lucide="ellipsis"></i>
                            </c-button>
                        </c-popover.trigger>
                        <c-popover.content class="glass-panel rounded-popover fixed-popover">
                            <div class="space-y-2">
                                <div class="flex flex-col gap-2 mb-4">
                                    <c-button id="js-change-picture-trigger"
                                              variant="outline"
                                              class="w-full justify-start px-2 mb-2 save-btn">
                                        <i data-lucide="image-up"></i> Change account picture
                                    </c-button>

                                    <form id="change-user-picture-form"
                                          action="{% url 'HelpMe_app:change_picture' %}"
                                          method="post"
                                          enctype="multipart/form-data"
                                          class="hidden">
                                        {% csrf_token %}
                                        <input type="file" name="picture" id="picture-input" accept="image/*">
                                    </form>
                                    <a href="{% url 'HelpMe_app:change_password' %}">
                                        <c-button variant="outline" class="w-full justify-start border-none px-2">
                                            <i data-lucide="key-round"></i> Change your
                                            password
                                        </c-button>
                                    </a>
                                    <form action="{% url 'HelpMe_app:logout' %}" method="post" class="w-full">
                                        {% csrf_token %}
                                        <c-button type="submit" variant="outline"
                                                  class="destructive-btn w-full justify-start border-none px-2">
                                            <i data-lucide="log-out"></i> Sign out
                                        </c-button>
                                    </form>
                                </div>

                                <div class="px-1 text-left">
                                    <p class="text-sm font-semibold opacity-60">More options</p>
                                </div>

                                <div class="flex flex-col gap-1">
                                    <c-button type="submit" variant="ghost"
                                              class="justify-start w-full destructive-btn-rev js-proxy-delete-account">
                                        <i data-lucide="trash-2"></i>
                                        <span class="font-bold">Delete account</span>
                                    </c-button>
                                </div>
                            </div>
                        </c-popover.content>
                    </c-popover>
                </div>
            </div>
            <div class="glass-panel p-6 rounded-[32px] mb-12">
                <div class="flex gap-8 items-center">
                    <div class="w-32 h-32 rounded-full border shrink-0 overflow-hidden">
                        <img src="{{ user.picture.url }}"
                             class="w-full h-full object-cover">
                    </div>
                    <div>
                        <div class="flex items-center gap-3">
                            <h2 class="text-xl font-bold">{{ user.full_name }}</h2>
                            <span class="text-xs font-bold px-2 py-1 border rounded-md opacity-80">
                            {{ user.get_type_display }}
                            </span>
                        </div>
                        <h2 class="text-lg opacity-60">{{ user.username }}</h2>
                        <p class="text-sm opacity-40 mt-4">
                            ({{ user.date_of_birth|date:"d/m/Y"|default:"N/A" }}) |
                            Member since {{ user.date_joined|date:"F Y"|default:"March 2026" }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div class="space-y-4">
                    <p class="opacity-60 font-semibold">Recent posts</p>
                    <div class="space-y-4">
                        {% for question in user_posts %}
                            {% include "partials/_post_card.html" with hide_footer=True %}
                        {% empty %}
                            <p class="text-sm font-semibold opacity-40">No posts yet.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="space-y-4">
                    <div class="flex items-center justify-between">
                        <p class="opacity-60 font-semibold">Unread notifications (top 5)</p>

                        {% if unread_notifications|length > 5 %}
                            <a href="#"
                               class="text-sm font-bold hover:underline opacity-60"
                               data-trigger-click="notif-trigger-btn">
                                View all ({{ unread_notifications|length }})
                            </a>
                        {% endif %}
                    </div>
                    <div class="space-y-4" id="account-notif-container">
                        {% for notif in unread_notifications %}
                            <div class="notification-item w-full transition-all duration-300 {% if forloop.counter > 5 %}hidden opacity-0{% endif %}">
                                {% include "partials/requires_authentication/_notification_card.html" %}
                            </div>
                        {% empty %}
                            <p class="text-sm font-semibold opacity-40">No unread notifications.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="{% static 'js/overlay_triggers.js' %}"></script>
    <script src="{% static 'js/authentication/account_actions.js' %}"></script>
    <script src="{% static 'js/authentication/change_user_picture.js' %}"></script>
{% endblock %}