{% load static %}
{% with url_name=request.resolver_match.url_name %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Web Application Systems Group B - Aaron, Amber, Angelo, Iona, Joseph">
        <title>HelpMe - {% block title_block %}Welcome{% endblock %}</title>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <!--Favicon for web browser.-->
        <link rel="icon" href="{% static 'images/favicon.png' %}">

        <!-- Script for notifications -->
        <script src="{% static 'js/notifications.js' %}"></script>

        <!-- Cosmetics, CSS and animations, including JS  -->
        <!--Use main Shadcn-Django CSS stylesheet-->
        <link rel="stylesheet" href="{% static 'css/output.css' %}"/>

        <!--Override existing Shadcn-Django with HelpMe custom css.-->
        <link rel="stylesheet" href="{% static 'css/helpme_overrides.css' %}"/>

        <!--Activate Lucide Icons from wireframes-->
        <script src="{% static 'js/lucide_icons.js' %}"></script>

        <!--Use animations for every page-->
        <script defer src="{% static 'js/cosmetics/page_animations.js' %}"></script>

        <!--Watch for page glows to stop animations when needed. -->
        <script src="{% static 'js/cosmetics/page_background_glow_watch.js' %}"></script>
    </head>

    <body class="min-h-screen flex flex-col m-0 p-0 font-sans">
    {% if url_name in GLOW_PAGES %}
        <div class="background-glow"
             data-glow-pages="{{ GLOW_PAGES|join:',' }}"
             data-current-page="{{ url_name }}">
        </div>
    {% endif %}
    {% block header_block %}
        <header class="w-full px-6 py-3">
            {% include "partials/_adaptive_header.html" %}
        </header>
    {% endblock %}

    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content_block %}{% endblock %}
    </main>

    {% include 'partials/_create_post_dialog.html' %}
    {% include 'partials/_create_category_dialog.html' %}

    {% block footer_block %}
        {% with url_name=request.resolver_match.url_name %}
            {% if url_name != 'about_us' %}
                <footer class="px-6 py-3">
                    {% include "partials/_site_footer.html" %}
                </footer>
            {% endif %}
        {% endwith %}
    {% endblock %}

    {% block footer_scripts %}
        <script src="{% static 'js/overlay_triggers.js' %}"></script>
        <script src="{% static 'js/post_creator_actions.js' %}"></script>
        <script src="{% static 'js/post_viewer_actions.js' %}"></script>
        <script src="{% static 'js/suggestion_actions.js' %}"></script>
        <script src="{% static 'js/poll_edit_create.js' %}"></script>
    {% endblock %}
    </body>
    </html>
{% endwith %}