{% extends "base.html" %}
{% load static %}

{% block content_block %}
    <div class="flex flex-col items-center justify-center w-full space-y-12">

        <section class="w-full max-w-2xl text-center mt-8">
            <h1 class="text-3xl mb-8">
                What can we <b>help</b> you with?
            </h1>
            <div class="flex justify-center">
                <c-command class='rounded-lg border shadow-md w-full md:min-w-[500px] bg-white'>
                    <c-command.input id="search_input" placeholder='Search for issues or make a new one'/>
                    <div id="search_results" class="hidden border-t bg-white text-left">
                        <c-command.list>
                            <c-command.empty>No results found.</c-command.empty>
                            <c-command.group heading='Trending'>
                                <c-command.item value='1'>Test1</c-command.item>
                                <c-command.item value='2'>Test2</c-command.item>
                                <c-command.item value='3'>Test3</c-command.item>
                            </c-command.group>
                            <c-command.separator/>
                        </c-command.list>
                    </div>
                </c-command>
            </div>
        </section>

        <div class="w-full border-t border-slate-100 max-w-4xl"></div>

        <section class="w-full flex flex-col items-center px-4">
            <c-tabs default_value='social' class="w-full flex flex-col items-center">

                <div class="flex flex-wrap items-center justify-center gap-6 w-full mb-12">

                    <c-button variant="outline" size="sm">
                        All categories
                    </c-button>

                    <c-tabs.list class="bg-muted/50 rounded-full flex items-center p-1">
                        <c-tabs.trigger value='social' class="rounded-full px-4">Social</c-tabs.trigger>
                        <c-tabs.trigger value='school' class="rounded-full px-4">School</c-tabs.trigger>
                        <c-tabs.trigger value='health' class="rounded-full px-4">Health</c-tabs.trigger>
                        <c-tabs.trigger value='money' class="rounded-full px-4">Money</c-tabs.trigger>
                    </c-tabs.list>

                    <div class="flex items-center gap-2">
                        <c-button variant="outline" size="sm" class="flex items-center gap-2">
                            <i data-lucide="arrow-up-down" class="w-4 h-4"></i> Sort
                        </c-button>
                        <c-button variant="outline" size="sm" class="flex items-center gap-2">
                            <i data-lucide="filter" class="w-4 h-4"></i> Filter
                        </c-button>
                    </div>
                </div>

                <div class="w-full max-w-5xl text-center">
                    <c-tabs.content value='social' class="text-muted-foreground animate-in fade-in duration-300">
                        Displaying top Social stuff
                    </c-tabs.content>
                    <c-tabs.content value='school' class="text-muted-foreground animate-in fade-in duration-300">
                        School & University support
                    </c-tabs.content>
                    <c-tabs.content value='health' class="text-muted-foreground animate-in fade-in duration-300">
                        Health and wellbeing discussions
                    </c-tabs.content>
                    <c-tabs.content value='money' class="text-muted-foreground animate-in fade-in duration-300">
                        Finance and Money advice
                    </c-tabs.content>
                </div>
            </c-tabs>
        </section>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script src="{% static 'js/home_search_toggle.js' %}"></script>
{% endblock %}